@media screen and (max-width: 1100px){
	.eged-middle{
		width: 100%;
		margin-left: 65px;
	}
	.fotter-half{
		width: 100%;
		margin-left: 55px;
	}
	.fotter-last{
		width: 100%;
		margin-left: 35px;
	}
	.client-view-middle{
		width: 85%;
		margin-left: 100px;
	}
}
@media screen and (max-width: 980px){
	.mobile-menu{
		display: block;
		margin-left: 5px;
	}
	.header-menu i{
		color: #81392B;
		cursor: pointer;
	}
	.header-menu nav{
		display: none;
	}
	.eged-middle .col-1{
		float: none;
		width: 50%;
		margin: auto;
	}
	.eged-middle .col-1:first-child{
		margin-left: 0;
		margin-right: 0;
		margin: auto;
	}
	.eged-middle .col-1 .col-content{
		margin-bottom: 30px;
	}
	.col-content h4{
		margin-top: 10px;
	}
	.fotter-col-1,
	.fotter-col-2,
	.fotter-col-3{
		float: none;
		width: 50%;
		margin: auto;
		margin-bottom: 80px;
	}
	.fotter-col-3{
		margin-bottom: 0;
	}
	.blog-col-1{
		width: 50%;
		float: none;
		margin: auto;
		height: 350px;
	}
	.blog-col{
		width: 100%;
	}
	.blog-col-1 .content h5{
		display: inline-block;
		margin-top: 50px;
		font-size: 35px;
	}
	.blog-col-1 .content p{
		font-size: 20px;
	}
	.blog-col-1:last-child {
   		margin-right: 0;
   		margin-left: 0;
   		margin: auto;
	}
	.left-2{
		float: none;
		width: 50%;
		margin: auto;
		margin-bottom: 80px;
	}
	.right-2{
		float: none;
		width: 50%;
		margin: auto;
	}
	.right-2 img{
		margin-left: -65px;
	}
	.left-2 p{
		font-size: 16px;
		width: 90%;
	}
	.left-2 h6{
		font-size: 14px;
	}
	.left-2 a{
		font-size: 16px;
	}
	.right h5{
		font-size: 25px;
	}
	.right p{
		font-size: 18px;
		width: 85%;
	}
	.client-view-top h3{
		font-size: 28px;
	}
	.client-view p{
		font-size: 18px;
	}
	.client-details p{
		font-size: 18px;
		width: 90%;
	}
	.client-details h3{
		font-size: 25px;
	}
	.client-details h5{
		font-size: 18px;
	}
	.eged-top h3{
		font-size: 30px;
	}
	.eged-top p{
		font-size: 18px;
	}
	.client-view-middle .col-1,
	.client-view-middle .col-2{
		float: none;
		width: 100%;
		margin: auto;
		margin-left: -40px;
	}
	/*start from here*/
	.header-menu nav a{
		display: block;
		margin: 0;
		text-align: left;
		padding: 8px 0;
		border: 1px solid #fff;
		width: 15%;
		border-radius: 15px;
		background: #000;
		transition: 1s;
		font-family: agency FB;
		text-align: center;
		font-size: 20px;
	}
	.header-menu nav a:hover{
		color: #000;
		background: transparent;
		border: 1px solid #000;
	}
	.header-menu nav{
		background: transparent;
	}
	/*stop here*/
}
@media screen and (max-width: 768px){
	.fotter-last .area-1{
		width: 42%;
	}
	.header-content h1{
		margin-left: 5px;
	}
	.header-content p{
		margin-left: 5px;
	}
	.header-btn menu{
		margin-left: 5px;
	}
	.header-content{
		height: 750px;
	}
	.bg-color{
		height: 730px;
	}
	.blog-col-1{
		height: 440px;
	}
	.right{
		width: 100%;
	}
	.left-2 p{
		width: 170%;
		margin-left: -55px;
	}
	.left-2 a{
		margin-left: -55px;	
	}
	.right-2 img{
		width: 350px;
		margin: auto;
		margin-left: -75px;
	}
	.left-2 h2{
		width: 165%;
	}
	.client-view-middle .col-1,
	.client-view-middle .col-2{
		margin-left: -60px;
	}
	.col-content menu ul li{
		display: block;
		list-style-type: none;
	}
	.fotter-col-1, .fotter-col-2, .fotter-col-3{
		width: 70%;
		margin-left: 5px;
	}
	.fotter-last .area-1{
		width: 36%;
	}
	.fotter-last .area-2{
		width: 18%;
		margin-left: 45px;
	}
	.fotter-last .area-3{
		margin-left: 130px;
		margin-top: 8px;
	}
	.header-menu nav a{
		display: block;
		margin: 0;
		text-align: left;
		padding: 8px 0;
		border: 1px solid #fff;
		width: 15%;
		border-radius: 15px;
		background: #000;
		transition: 1s;
		font-family: agency FB;
		text-align: center;
		font-size: 20px;
	}
	.header-menu nav a:hover{
		color: #000;
		background: transparent;
		border: 1px solid #000;
	}
	.header-menu nav{
		background: transparent;
	}
}
@media screen and (max-width: 480px){
	.eged-middle .col-1:first-child{
		margin: 0;
	}
	.eged-middle .col-1{
		margin: 0;
	}
	.fotter-last .area-3{
		margin-left: 80px;
	}
	.header-menu nav a{
		width: 25%;
	}
	.header-content h1{
		font-size: 65px;
	}
}
@media screen and (max-width: 450px){
	.header-content h1{
		font-size: 50px;
	}
	.header-btn a{
		margin-top: 20px;
		display: block;
		width: 28%;
	}
	.blog-col-1{
		height: 550px;
		width: 60%;
	}
	.blog-col-1 .btn a{
		margin-top: 35px;
		display: inline-block;
	}
	.blog-col-1 .content p{
		margin-bottom: 15px;
		margin-top: 20px;
	}
	.header-menu nav a{
		width: 28%;
	}
	.right-2{
		width: 63%;
	}
	.eged-middle{
		margin: auto;
		width: 90%;
	}
	.eged-middle img{
		width: 200px;
	}
	.left-2 h2{
		width: 100%;
		font-size: 25px;
	}
	.left-2 p{
		width: 100%;
		margin: auto;
	}
	.left-2 a{
		margin: auto;
	}
	.left-2{
		width: 100%;
	}
	.fotter-last .area-3{
		margin-left: 40px;
	}
	.bg-color{
		height: 750px;
	}
	.header-content{
		height: 770px;
	}
	.header-btn a{
		font-size: 13px;
	}
}
